@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, 'Poppins';
    text-transform: capitalize;
    text-decoration: none;
}

body{
    min-height: 100vh;
    background: wheat no-repeat;
    background-size: cover;
    background-position: center;
}

/* ini navbar */

header{
    position: sticky;
    top: 0; left: 0; right: 0;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo-sm{
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}

header .logo-md{
    font-weight: bolder;
    font-size: 50px;
    color: #333;
}

header .logo-lg{
    font-weight: bolder;
    font-size: 75px;
    color: #333;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover{
    background: #333;
    color: white;

}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: white;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-color: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}
    
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

@media(max-width:911px){
   
    header{
        padding: 20px;
    }

    header label{
        display: initial;
    }
    
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: white;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #eee;
    }

    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }

}

/*sidebar*/

.sidebar{
    position: fixed;
    top: 50px;
    left: 0;
    width: 250px;
    height: 100%;
    background: white;
}


















